.button {
  width: 150px;
  height: 32px;
  background-color: $color-dark;
  padding: 8px;
  color: $color-light;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(20);
  font-weight: 300;
}
