.title {
  margin: 8px 4px 0 0;
  font-size: rem(18);

  &--productList {
    font-weight: 300;
    height: 42px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  &--product {
    font-weight: 600;
  }

  &--cart {
    font-size: rem(18);
    font-weight: 500;
    text-align: left;
  }
}

.price {
  font-size: rem(14);
  font-weight: 600;
}

.description {
  font-size: rem(14);
  font-weight: 300;
}
