.product-card {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    & img {
      width: 150px;
    }
  }
}

.item {
  grid-area: 1 / 1 / 3 / 3;

  & img {
    width: 400px;
  }
}
