//breakpoints
$tablet: 768px;
$desktop: 1024px;

//colors
$color-dark: #333333;
$color-light: white;
$color-accent-50: #a75f5f;
$color-accent-500: #bb0909;
$text-light: #777777;

//fonts

$main-font: 'Open Sans', sans-serif;
